html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  background-color: rgb(1, 0, 16);
  margin: 0;
  font-family: "Outfit", sans-serif;
  color: white;
}

.nav {
  color: white;
  padding: 0.5rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lg {
  display: flex;
  align-items: center;
  gap: 10px;
}

.items {
  list-style: none;
  display: flex;
  gap: 20px;
}

.items li {
  cursor: pointer;
}

.items li::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: rgb(247, 0, 255);
  display: block;
  margin: auto;
  transition: 0.4s;
}

.items li:hover::after {
  width: 100%;
}

#right-side {
  display: flex;
  gap: 20px;
  align-items: center;
}

#navbtn {
  max-height: 30px;
  font-family: "Outfit", sans-serif;
  font-size: 0.99em;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 5px;
  background-color: rgb(0, 238, 255);
}

.lg img {
  max-width: 50px;
}

#home-link {
  color: rgb(0, 238, 255);
}

.pink {
  color: rgb(207, 6, 213);
}

/* Hero Section CSS */

.main__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  justify-self: center;
  margin: 0 auto;
  height: 85vh;
}

#main__img {
  margin-right: 3em;
  border-radius: 30px;
  width: 40vw;
  -webkit-box-shadow: 1px 1px 182px 18px rgba(143, 0, 143, 1);
  -moz-box-shadow: 1px 1px 182px 18px rgba(143, 0, 143, 1);
  box-shadow: 1px 1px 182px 18px rgba(143, 0, 143, 1);
}

.main__content h1 {
  margin: 0;
  margin-bottom: 1.5rem;
  font-size: 4.3rem;
  background: rgb(0, 238, 255);
  background-image: linear-gradient(
    180deg,
    rgba(0, 238, 255, 1) 0%,
    rgba(207, 6, 213, 1) 86%
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main__content p {
  font-size: 1.2rem;
}

#main__btn {
  color: white;
  font-size: 1rem;
  background: rgb(45, 9, 79);
  background: linear-gradient(
    0deg,
    rgba(45, 9, 79, 1) 0%,
    rgba(207, 6, 213, 1) 100%
  );
  border: none;
  padding: 10.5px 24px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.35s;
  outline: none;
  position: relative;
}

#main__btn a {
  position: relative;
  z-index: 2;
  text-decoration: none;
  color: white;
}

#main__btn::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgb(0, 238, 255);
  background: linear-gradient(
    180deg,
    rgba(0, 238, 255, 1) 1%,
    rgba(9, 21, 112, 1) 100%
  );
  transition: all 0.35s;
  border-radius: 5px;
}

#main__btn:hover {
  color: white;
}

#main__btn:hover::after {
  width: 100%;
}

.main__img--container {
  text-align: center;
}

#qualities {
  margin-top: 3rem;
  display: grid;
  width: 100%;
  height: fit-content;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  text-align: center;
}

.quality img {
  max-width: 20vw;
}

.quality p {
  max-width: 28vw;
}

.feature {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  padding: 1rem 1rem;
  margin-top: 5rem;
}

.left {
  margin-left: 4.5rem;
}

.feature img {
  width: 40vw;
  -webkit-box-shadow: 1px 1px 182px 18px rgba(143, 0, 143, 1);
  -moz-box-shadow: 1px 1px 182px 18px rgba(143, 0, 143, 1);
  box-shadow: 1px 1px 182px 18px rgba(143, 0, 143, 1);
}

.left img {
  -webkit-box-shadow: 1px 1px 182px 18px rgba(5, 148, 153, 1);
  -moz-box-shadow: 1px 1px 182px 18px rgba(5, 148, 153, 1);
  box-shadow: 1px 1px 182px 18px rgba(5, 148, 153, 1);
}

.feature ul {
  list-style: none;
  line-height: 1.8em;
  margin: 0;
  padding: 0;
}

.feature ul li::before {
  content: "\2022 ";
  color: rgba(207, 6, 213, 1);
  font-weight: 900;
}

.blue {
  color: rgb(0, 225, 241);
}

.footer {
  margin-top: 6rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 4rem;
  -webkit-box-shadow: -1px -10px 52px -5px rgba(215, 13, 255, 1);
  -moz-box-shadow: -1px -10px 52px -5px rgba(215, 13, 255, 1);
  box-shadow: -1px -10px 52px -5px rgba(215, 13, 255, 1);
}
